{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2>⚡ Panel de Control</h2>

<div class="row">

    <div class="col-md-6">

        <div class="card">
            <h3>👥 Miembros</h3>
            <p>Gestiona usuarios del sistema</p>

            <a class="btn btn-primary"
               href="{{ url_for('bp_miembro.index') }}">
                Abrir
            </a>
        </div>

    </div>

    <div class="col-md-6">

        <div class="card">
            <h3>📝 Tareas</h3>
            <p>Control de tareas del equipo</p>

            <a class="btn btn-primary"
               href="{{ url_for('bp_tarea.index') }}">
                Abrir
            </a>
        </div>

    </div>

</div>

{% endblock %}